<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" requirePermission="false">
    </section>
  </configSections>
  
  <appSettings>
    <add key="MonoscapeAccessKey" value="123456789" />
    <add key="MonoscapeSecretKey" value="987654321" />
    <add key="SQLiteConnectionString" value="DbLinqProvider=Sqlite; Data Source=../../Database/ApplicationGrid.s3db" />
    <add key="ApplicationStoreFolder" value="ApplicationStore" />    
    <add key="IaasName" value="Openstack" />		
    <add key="IaasAccessKey" value="68050605b9e74a7a932185e3473e6b51" />
    <add key="IaasSecretKey" value="db7bf0563e08493e9ccda6c130e5c603" />
    <add key="IaasServiceURL" value="http://192.168.1.111:8773/services/Cloud" />
    <add key="IaasKeyName" value="mono7" />    
    <!-- Service URLs -->
    <add key="DashboardServiceURL" value="http://localhost:5201/applicationgrid/services/dashboard" />
    <add key="NodeControllerServiceURL" value="http://localhost:5202/applicationgrid/services/nodecontroller" />
    <add key="FileServerServiceURL" value="http://localhost:5203/applicationgrid/services/fileserver" />
    <add key="FileServerServiceNetTcpURL" value="net.tcp://localhost:5204/applicationgrid/services/fileserver" />
    <add key="FileServerServiceNetPipeURL" value="net.pipe://localhost/applicationgrid/services/fileserver" />
    <!-- Socket Ports -->
    <add key="ApFileReceiveSocketPort" value="5656" />
    <add key="NcFileTransferSocketPort" value="5657" />
    <!-- End Point URLs -->
    <add key="LbApplicationGridEndPointUrl" value="http://localhost:5220/loadbalancer/services/applicationgrid" />
    <add key="NodeFileServerEndPointURL" value="http://ipaddress:5211/node/services/fileserver/wsHttp" />
    <add key="NodeEndPointURL" value="http://ipaddress:5210/node/services/applicationgrid" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Monoscape.ApplicationGrid.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <!-- Default Conversion Pattern: %d [%t] %-5p %c %m%n -->
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <!-- appender-ref ref="RollingFile" / -->
      <appender-ref ref="ConsoleAppender" /> 
    </root>
  </log4net>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
